---
import { socialNetworks } from "../data/social-networks";
import IconSocialNetwork from "./IconSocialNetwork.astro";

//function return year for footer
function getYear() {
    var d = new Date();
    var n = d.getFullYear();
    return n;
}
---

<style>
    .footer {
        padding: 30px 0px;
        font-family: "Play", sans-serif;
        text-align: center;
    }

    .footer .row {
        width: 100%;
        margin: 1% 0%;
        padding: 0.6% 0%;
        color: gray;
        font-size: 0.8em;
    }

    .footer .row ul {
        width: 100%;
    }

    .footer .row ul li {
        display: inline-block;
        margin: 0px 30px;
    }

    @media (max-width: 720px) {
        .footer {
            text-align: left;
            padding: 5%;
        }
        .footer .row ul li {
            display: block;
            margin: 10px 0px;
            text-align: left;
        }
        .footer .row a img {
            margin: 0% 3%;
        }
    }
</style>
<footer>
    <div class="footer">
        <div class="row">
            {
                socialNetworks.map((socialNetwork) => 
                    <IconSocialNetwork
                        url=`${socialNetwork.url}`
                        icon={socialNetwork.icon}
                        alt={socialNetwork.alt}
                    />
                )
            }
        </div>
        <div class="row">
            INFERNO Copyright © {getYear()} Inferno - All rights reserved
        </div>
    </div>
</footer>
